/* Hide all info-ID divs by default */
.info-wrapper div[class^="info-"] {
   display: none;
}

.info-active-1 .info-1,
.info-active-2 .info-2,
.info-active-3 .info-3,
.info-active-4 .info-4,
.info-active-5 .info-5 {
   display: grid !important;
}

.info-wrapper {
     display: grid;
     grid-template-columns: 250px 1fr;
     grid-gap: 20px;
     align-items: flex-start;
}

.nav-link {
     cursor: pointer;
}

@media only screen and (max-width: 800px) {
   .info-wrapper .nav-link {
      display: none;
   }

   .info-wrapper {
      display: block;
   }

.info-wrapper div[class^="info-"] {
   display: grid;
}
}